.npcsheet {
    /* Dimentions */
    display: none;
    width: 100%;
    /* Content position */
    /* Style */
    font-size: medium;
    padding: 10px;
    background-color: var(--WHITE);
    border: 1px solid var(--DARK);
    border-top: 0;
}
/* ------ HEADER ------ */
.show-npc-sheet {
    display: inline-block;;
}
.npc-sheet-header-wraper {
    /* Style */
    border-bottom: 1px solid var(--DARK);
    padding-bottom: 5px;
}
.npc-sheet-header-container {
    /* Dimentions */
    width: 100%;
    /* Content position */
    display: flex;
    /* Style */
    font-size: xx-large;
}
.npc-sheet-header-name {
    /* Dimentions */
    width: 50%;
}
.npc-sheet-header-source {
    /* Dimentions */
    width: 50%;
    /* Content position */
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.npc-sheet-header-page {
    /* Style */
    font-size: x-small;
}
.npc-sheet-header-size-type {
    /* Style */
    text-transform: capitalize;
    font-size: small;
    font-style: italic;
}
/* ------ BASIC DATA & STATS ------ */
.npc-sheet-basic-data-wraper {
    /* Content position */
    display: flex;
    /* Style */
    border-bottom: 1px solid var(--DARK);
    padding: 5px 0;
}
.npc-sheet-basic-data {
    /* Dimentions */
    width: 25%;
    /* Content position */
    text-transform: capitalize;
    text-align: center;
}
.npc-sheet-stats-wraper {
    /* Content position */
    display: flex;
    /* Style */
    border-bottom: 1px solid var(--DARK);
    padding: 5px 0;
}
.npc-sheet-stats {
    /* Dimentions */
    width: 16%;
    /* Content position */
    text-align: center;
    /* Style */
}
/* ------ SAVING, IMMUNITIES, SKILLS & SENSES ------ */
.npc-sheet-info-wraper {
    /* Style */
    border-bottom: 1px solid var(--DARK);
    padding: 5px 0;
}
.npc-sheet-info {
    /* Style */
    text-transform: capitalize;
}
/* ------ TRAITS ------ */
.npc-sheet-traits-wraper {
    /* Style */
    border-bottom: 1px solid var(--DARK);
    padding: 5px 0;
}
.npc-sheet-trait {}
.npc-shseet-trait-name {
    /* Style */
    font-style: italic;
    font-weight: bold;
}
/* ------ ACTIONS & LEGENDARY ACTIONS ------ */
/* .npc-sheet-actions {}       WIP
.npc-sheet-actions-name {}  WIP
.npc-sheet-actions-info {}  WIP */

.npc-sheet-legendary-actions-wraper {
    /* Style */
    border-bottom: 1px solid var(--DARK);
    padding: 5px 0;
}
.npc-sheet-legendary-actions-header {
    /* Dimentions */
    /* Content position */
    /* Style */
    text-align: center;
    background-color: var(--INFO);
}
.npc-sheet-legendary-actions-name {
    /* Dimentions */
    /* Content position */
    /* Style */
    /* Style */
    font-style: italic;
    font-weight: bold;
}