:root {
    /* Dimentions */
    /* Content position */
    /* Style */
    --WHITE: #ffffff;
    --LIGHT: #dddde8;
    --DARK: #1d0843;
    --PRIMARY: #5098e8;
    --SECONDARY: #e0fb71;
    --INFO: #f5e4d1;
    --ACCENT1: #2ddce0;
    --ACCENT2: #27c9cc;
    --ACCENT3: #e9ad62;
    --ACCENT4: #f8acc8;
    --SUCCESS: #58ca7d;
    --WARNING: #e3cc05;
    --DANGER: #f21b02;
}
* {
    /* Dimentions */
    /* Content position */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Style */
}
body {
    /* Dimentions */
    padding: 20px;
    max-width: 1600px;
    /* Content position */
    display: flex;
    flex-wrap: wrap;
    /* Style */
    background: var(--LIGHT);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    /* Dimentions */
    width: 100%;
    /* Content position */
    /* Style */
}
main {
    /* Dimentions */
    width: 100%;
    /* Content position */
    display: flex;
    flex-wrap: wrap;
    /* Style */
}
footer {
    /* Dimentions */
    width: 100%;
    /* Content position */
    /* Style */
}

